.texto {
    z-index: 5;
    color:rgb(78, 6, 22);
    font-size: xx-large;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.texto2 {
    z-index: 5;
    color:rgb(78, 6, 22);
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    position: absolute;
    top: 60px;
    left: 20px;
    font-weight: bold;
}
.fondo1 {
    z-index:1;
    position:absolute;
    left:0px;
    top:0px;
    width:1400px;
    height:550px;
    border-radius:0%;
    background-color: rgb(68, 154, 212);
    }

    .fondo2 {
    z-index:1;
    position:absolute;
    left:0px;
    top:550px;
    width:1400px;;
    height:225px;
    border-radius:0%;
    background-color: rgb(3, 48, 9);
    }
  /* Colores de los elementos SVG (nubes ) */
  .st0{opacity:0.79;fill:#FFFFFF;}
  .st1{opacity:0.15;fill:#DDB481;}
  .st2{opacity:0.22;fill:#DDB481;}
  .st3{fill:#DDB481;}
  .st4{fill:#E0C5A4;}
  .st5{fill:#FFFFFF;}
  .st6{fill:#C79665;}
  
  /* Nubes */
  .nube {
      fill: #FFF;
      opacity: 0.7;
  }
  
  #nube1 {
      position: absolute;
      width: 22vmax;
      top: 25vh;
      animation: nubes 150s infinite linear;
      margin-left: 40%;
      z-index: 2;
  }
  
  #nube2 {
      position: absolute;
      width: 10vmax;
      top: 35vh;
      animation: nubes 110s infinite linear;
      margin-left: 20%;
      z-index: 2;
  }
  
  #nube3 {
      position: absolute;
      width: 10vmax;
      top: 45vh;
      animation: nubes 3000s infinite linear;
      margin-left: 80%;
      z-index: 2;
  }
  
  #nube4 {
      position: absolute;
      width: 22vmax;
      top: 60vh;
      animation: nubes 130s infinite linear;
      margin-left: 60%;
      z-index: 2;
  }
  
  #nube5 {
      position: absolute;
      width: 6vmax;
      top: 53vh;
      animation: nubes 90s infinite linear;
      margin-left: 40%;
      z-index: 2;
  }
  
  /* Animación para las nubes */
  @keyframes nubes {
      0% {
          left: -60%;
      }
      100% {
          left: 120%;
      }
  }
    .ramita1 {
        z-index:3;
        width: 5px;
        height: 80px;
        position: absolute;
        transform: skew(30deg);
        background: rgb(121, 248, 62);
        left: 628px;
        margin-left: -3px;
        top: 271px;
        display: inline-block;
        
        margin-left: -3px;
        
        box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
        box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;
        
          }

        .ramita1:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .ramita2 {
          z-index:3;
          width: 5px;
          height: 80px;
          position: absolute;
          transform: skew(50deg);
          background: rgb(72, 255, 0);
          left: 558px;
          margin-left: -3px;
          top: 192px;
            
          margin-left: -3px;
          box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;
          }

          .ramita2:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram1 {
            z-index:3;
          width: 5px;
          height: 80px;
            position: absolute;
          transform: skew(20deg);
          background: rgb(121, 248, 62);
            left: 665px;
            margin-left: -3px;
            top: 350px;

          margin-left: -3px;
          box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;
          }

          .parallelogram1:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .parallelogram2 {
            z-index:3;
          width: 5px;
          height: 85px;
            position: absolute;
          transform: skew(20deg);
          background: rgb(121, 248, 62);
            left: 640px;
            margin-left: -3px;
            top: 205px;

            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram2:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }



          .parallelogram3 {
            z-index:3;
          width: 5px;
          height: 90px;
            position: absolute;
          transform: skew(20deg);
          background: rgb(63, 255, 15);
            left: -19px;
            margin-left: -3px;
            top: -150px;

            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram3:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram4 {
            z-index:3;
          width: 5px;
          height: 50px;
            position: absolute;
          transform: skew(20deg);
          background: rgb(121, 248, 62);
            left: 685px;
            margin-left: -3px;
            top: 176px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram4:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram5 {
            z-index:3;
          width: 5px;
          height: 35px;
            position: absolute;
          transform: skew(0deg);
          background: rgb(121, 248, 62);
            left: 815px;
            margin-left: -3px;
            top: 200px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram5:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .parallelogram6 {
            z-index:3;
          width: 5px;
          height: 96px;
            position: absolute;
          transform: skew(0deg);
          background: rgb(121, 248, 62);
            left: 720px;
            margin-left: -3px;
            top: 285px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram6:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .parallelogram7 {
            z-index:3;
          width: 5px;
          height: 145px;
            position: absolute;
          transform: skew(-30deg);
          background: rgb(63, 255, 15);
            left: 772px;
            margin-left: -3px;
            top: 235px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram7:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram8 {
            z-index:3;
          width: 5px;
          height: 150px;
            position: absolute;
          transform: skew(-30deg);
          background: rgb(121, 248, 62);
            left: 936px;
            margin-left: -3px;
            top: 181px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #ff00de ;  
          }

          .parallelogram8:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram9 {
            z-index:3;
          width: 5px;
          height: 65px;
            position: absolute;
          transform: skew(-30deg);
          background: rgb(123, 255, 62);
            left: 675px;
            margin-left: -3px;
            top: 226px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .parallelogram9:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram10 {
            z-index:3;
          width: 5px;
          height: 32px;
            position: absolute;
          transform: skew(-50deg);
          background: rgb(121, 248, 62);
            left: 789px;
            margin-left: -3px;
            top: 400px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .parallelogram10:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram11 {
            z-index:3;
          width: 5px;
          height: 22px;
            position: absolute;
          transform: skew(50deg);
          background: rgb(121, 248, 62);
            left: 795px;
            margin-left: -3px;
            top: 378px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .parallelogram11:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .parallelogram12 {
            z-index:3;
          width: 5px;
          height: 72px;
            position: absolute;
          transform: skew(-50deg);
          background: rgb(121, 248, 62);
            left: 850px;
            margin-left: -3px;
            top: 330px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .parallelogram12:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram13 {
            z-index:3;
          width: 5px;
          height: 72px;
            position: absolute;
          transform: skew(20deg);
          background: rgb(121, 248, 62);
            left: 880px;
            margin-left: -3px;
            top: 258px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .parallelogram13:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .parallelogram14 {
            z-index:3;
          width: 5px;
          height: 72px;
            position: absolute;
          transform: skew(-16deg);
          background: rgb(121, 248, 62);
            left: 876px;
            margin-left: -3px;
            top: 187px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .parallelogram14:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .ramita15 {
            z-index:3;
          width: 5px;
          height: 80px;
            position: absolute;
          transform: skew(-38deg);
          background: rgb(121, 248, 62);
            left: 750px;
            margin-left: -3px;
            top: 205px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .ramita15:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita16 {
            z-index:3;
          width: 5px;
          height: 22px;
            position: absolute;
          transform: skew(50deg);
          background: rgb(121, 248, 62);
            left: 769px;
            margin-left: -3px;
            top: 183px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
          }

          .ramita16:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita17 {
            z-index:3;
          width: 5px;
          height: 96px;
            position: absolute;
          transform: skew(-5deg);
          background: rgb(121, 248, 62);
            left: 814px;
            margin-left: -3px;
            top: 303px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita17:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita18 {
            z-index:3;
          width: 5px;
          height: 17px;
            position: absolute;
          transform: skew(50deg);
          background: rgb(121, 248, 62);
            left: 810px;
            margin-left: -3px;
            top: 287px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00, 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita18:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita19 {
            z-index:3;
          width: 5px;
          height: 35px;
            position: absolute;
          transform: skew(-35deg);
          background: rgb(121, 248, 62);
            left: 831px;
            margin-left: -3px;
            top: 268px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita19:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita20 {
            z-index:3;
          width: 5px;
          height: 52px;
            position: absolute;
          transform: skew(69deg);
          background: rgb(121, 248, 62);
            left: 585px;
            margin-left: -3px;
            top: 300px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita20:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita21 {
            z-index:3;
          width: 5px;
          height: 72px;
            position: absolute;
          transform: skew(20deg);
          background: rgb(121, 248, 62);
            left: 505px;
            margin-left: -3px;
            top: 228px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita21:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita22 {
            z-index:3;
          width: 5px;
          height: 55px;
            position: absolute;
          transform: skew(-35deg);
          background: rgb(121, 248, 62);
            left: 500px;
            margin-left: -3px;
            top: 298px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita22:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita23 {
            z-index:3;
          width: 5px;
          height: 35px;
            position: absolute;
          transform: skew(-35deg);
          background: rgb(121, 248, 62);
            left: 637px;
            margin-left: -3px;
            top: 170px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita23:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita24 {
            z-index:3;
          width: 5px;
          height: 45px;
            position: absolute;
          transform: skew(-73deg);
          background: rgb(121, 248, 62);
            left: 594px;
            margin-left: -3px;
            top: 400px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita24:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita25 {
            z-index:3;
          width: 5px;
          height: 45px;
            position: absolute;
          transform: skew(55deg);
          background: rgb(121, 248, 62);
            left: 594px;
            margin-left: -3px;
            top: 368px;
          
            margin-left: -3px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita25:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }

          .ramita26 {
            z-index:3;
          width: 5px;
          height: 57px;
            position: absolute;
          transform: skew(-10deg);
          background: rgb(121, 248, 62);
            left: 644px;
            margin-left: 8px;
            top: 288px;
          
            margin-left: 8px;
            box-shadow: 0 0 10px rgb(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
            box-shadow: 0 0 10px rgba(63, 255, 15) , 0 0 20px rgba(63, 255, 15) , 0 0 30px rgba(63, 255, 15) , 0 0 40px #88ff00 , 0 0 70px #88ff00 , 0 0 80px #88ff00 , 0 0 100px #88ff00 ;  
          }

          .ramita26:hover {
            box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
          }


          .vl{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 300px;
             position: absolute;
             left: 680px;
             margin-left: -3px;
             top: 430px;
          }
         

          .vl2{
            z-index:3;
            border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 700px;
             margin-left: -3px;
             top: 380px;
          }

          .vl3{
            z-index:3;
            border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 710px;
             margin-left: -3px;
             top: 380px;
          }

          .vl4{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 720px;
             margin-left: -3px;
             top: 380px;
          }

          .vl5{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 730px;
             margin-left: -3px;
             top: 380px;
          }

          .vl6{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 740px;
             margin-left: -3px;
             top: 380px;
          }

          .vl7{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 750px;
             margin-left: -3px;
             top: 380px;
          }

          .vl8{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 760px;
             margin-left: -3px;
             top: 380px;
          }

          .vl9{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 300px;
             position: absolute;
             left: 770px;
             margin-left: -3px;
             top: 430px;
          }

          .vl10{
            z-index:3;
             border-left: 5px solid rgb(2, 156, 61);
             height: 350px;
             position: absolute;
             left: 690px;
             margin-left: -3px;
             top: 380px;
          }
          
          body {
            
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
          }
            
          .circulo1 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 645px;
            margin-left: -3px;
            top: 340px;
            
          }
          
          .circulo2 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 652px;
            margin-left: -3px;
            top: 280px;
            
          }

          .circulo3 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 714px;
            margin-left: -3px;
            top: 280px;
            
          }

          .circulo4 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 812px;
            margin-left: -3px;
            top: 292px;
            
          }


          .circulo5 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 510px;
            margin-left: -3px;
            top: 295px;
            
          }

          .circulo6 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 888px;
            margin-left: -3px;
            top: 315px;
            
          }

          .circulo7 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 615px;
            margin-left: -3px;
            top: 405px;
            
          }

          .circulo8 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 805px;
            margin-left: -3px;
            top: 390px;
            
          }

          .circulo9 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 808px;
            margin-left: -3px;
            top: 222px;
            
          }

          .circulo10 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 862px;
            margin-left: -3px;
            top: 246px;
            
          }

          .circulo11 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 598px;
            margin-left: -3px;
            top: 266px;
            
          }


          .circulo12 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 688px;
            margin-left: -3px;
            top: 220px;
            
          }

          .circulo13 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 620px;
            margin-left: -3px;
            top: 200px;
            
          }

          .circulo14 {
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: rgb(123, 255, 62);
            left: 773px;
            margin-left: -3px;
            top: 195px;
            
          }