.drop {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 91%;
    left: 40%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop1 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 93%;
    left: 41%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop2 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 93%;
    left:39%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop3 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 95%;
    left: 38%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop4 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 95%;
    left: 40%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop5 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 95%;
    left: 42%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop6 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 97%;
    left: 39%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop7 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 97%;
    left: 41%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop8 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 99%;
    left: 42%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop9 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 99%;
    left: 40%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   
  .drop10 {
    z-index:3;
    background-color: #38bfe0;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 97%;
    left: 43%;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(25deg);
  }   