#girl img{
    z-index:3;
    position:absolute;
    width: 100px;
    height: auto;
    left:29%;
    top: 540px;
    }

    #adult img{
        z-index:3;
        position:absolute;
        width: 100px;
        height: auto;
        left: 58.5%;
        top: 500px;
        }

    #regadera1 img{
        z-index: 4;
        position:absolute;
        width: 80px;
        height: auto;
        left: 34.5%;
        top: 625px;
        transform: rotate(27deg)
        }

        #regadera2 img{
        z-index: 4;
        position:absolute;
        width: 80px;
        height: auto;
        left: 54.5%;
        top: 606px;
        transform: rotate(-27deg)
        }