#girl img{
    z-index:3;
    position:absolute;
    width: 80px;
    height: auto;
    left: 450px;
    top: 520px;
    }

    #adult img{
        z-index:3;
        position:absolute;
        width: 80px;
        height: auto;
        left: 880px;
        top: 490px;
        }

    #regadera1 img{
        z-index: 4;
        position:absolute;
        width: 80px;
        height: auto;
        left: 517px;
        top: 589px;
        transform: rotate(27deg)
        }

        #regadera2 img{
        z-index: 4;
        position:absolute;
        width: 80px;
        height: auto;
        left: 830px;
        top: 578px;
        transform: rotate(-27deg)
        }