h1 {
    z-index:5;
    color:rgb(207, 79, 96);
    border-color: beige;
    font-style: normal;
    font-size:xx-large;
    font-family:fantasy;
    position:relative;
    left:auto;
    top:auto;
}

h2{
    z-index:5;
    color:rgb(212, 210, 62);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    position: relative;
}

body {
    background-image: url("tree.jpg"); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;

    
}