.titulo {
   
    color: white;
    font-size: 200%;
    font-family:'Source Code Pro', monospace;
    text-align: center;
}

*{
    box-sizing: border-box;

}


.content{

    max-width: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    margin: auto;
    text-align: center;
}


.buckets__b1 {
 height: 300px;
 width: 220px;
 position: absolute;
 top: 500px;
 left:  400px;
 
}


.buckets__b2 {
    height: 300px;
    width: 220px;
    position: absolute;
    top: 500px;
    left:  650px;
}


.buckets__b3 {
    height: 300px;
    width:220px;
    position: absolute;
    top: 500px;
    left: 900px;
  
}


.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden; 
    z-index: -1;
}

.header-video video{

    min-width: 100%;
    min-height: 100%;
}

#mundo {
  
    width: 300px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 600px;
    z-index: 2;
}

#reutilizar {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 500px;
    left: 430px;
    border: 2px solid #1b42c5;
}

#reciclar {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 500px;
    left: 680px;
    border: 2px solid #c51b84;
}


#reducir {
    
    width: 150px;
    height: 50px;
    position: absolute;
    top: 500px;
    left: 930px;
    border: 2px solid #e4e9e5;
    
}

#agua {
    z-index:3;
    position: absolute;
}

#botellaplastico {
    z-index:3;
    position: absolute;
}

#ropa {
    z-index:3;
    position: absolute;
}
