*{
    margin: 0;
    padding: 0;
}

video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -3;

    width: 1080px;
    height: 970px;
}

body{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

header{
    width: 100%;

}

header nav{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: rgba(134, 134, 134, 0.678);
}

.menu_bar{
    display: none;
}

header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float:right;
}

header nav ul li a{
    color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    text-decoration: none;
}

header nav ul li span{
    margin-right: 10px;
}

header nav ul li a:hover{
    background:rgba(0, 0, 0, 0.76)
}

section{
    padding: 20px;
}

@media screen and (max-width:600px){
    header nav{
        width: 60%;
        height: 60%;
        margin: 0;
        position: fixed;
        
    }

    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(95, 158, 160, 0.582);
    }

    
}

#equipo{

    position: absolute;
    top:56px;
    left:175px;
    background-image: linear-gradient(to right, #243949b2 0%, #517fa4a8 100%);
    padding: 16px;
    color: white;


}

#tema{

    position: absolute;
    background: rgba(0, 0, 0, 0.336);
    color: white;
    font-size: 55px;
    top: 250px;
    left: 175px;
    padding: 10px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#subtema{

    position: absolute;
    background: rgba(0, 0, 0, 0.336);
    color: white;
    top: 355px;
    left: 175px;
    padding: 10px;
    font-family: 'Cormorant', serif;
    font-size: 20px;
}

#frase{

    position: absolute;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    color: rgb(12, 12, 12); 
    padding: 15px;
    top:720px;
    left:150px;
    font-family: 'Cormorant', serif;
    border-radius: 15px;
    font-size: 23.5px;

}

#icon1{

    width: 180px;
    position: absolute;
    top: 670px;
    left: 850px;
}

#causas{

    position: absolute;
    padding: 10px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    left:515px;
    top:880px

}

#info2{

    font-family: 'Cormorant', serif;
    padding: 10px;
    position: absolute;
    text-align: justify;
    top: 930px;
    left: 160px;


}
