*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Times New Roman', Times, serif;}


.parrafo1{

      z-index: 1;
      width: 1200px;
      padding: 20px 20px;
      font-size: 18px;
      box-shadow: 1px 5px 25px rgba (0, 0, 0, 0.45);
      margin-left: auto;
      margin-right: auto;
      
}

.parrafo2{

    z-index: 1;
    width: 1200px;
    padding: 20px 20px;
    font-size: 18px;
    box-shadow: 1px 5px 25px rgba (0, 0, 0, 0.45);
    margin-left: auto;
    margin-right: auto;


}

.parrafo3{
    z-index: 1;
    width: 1200px;
    padding: 20x 20x;
    font-size: 18px;
    background-color: rgba(161, 121, 69, 0.664);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}